* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    height: 100%;
}

.profile_body {
    background-color: #fafafa;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profile_section {
    width: 960px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 40px;
}

.my_info {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #E3E3E3;
}

.my_info img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 3% 10% 3% 3%;
}

.info_box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.nick_name {
    width: 100%;
    height: 30%;
    padding: 3%;
    font-size: 30px;
}

.user_info {
    width: 70%;
    height: 25%;
    padding: 3%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.user_name {
    width: 100%;
    height: 25%;
    padding: 3%;
    font-size: 16px;
    font-weight: bold;
}

.menu_bar {
    width: 100%;
    border-bottom: 2px solid #E3E3E3;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.menu_bar > div {
    margin: 10px 30px;
}

.profile_article {
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile_article .post{
    width: 100%;
    border: none;
    height: 300px;
    overflow: hidden;
    margin-bottom: 0;
    position: relative;
    padding: 0;
}

.profile_article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*img hover*/

.profile_article .likes{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: .5s;
}

.profile_article .post:hover .likes{
    opacity: 1;
}

.likes .icon{
    width: 40px;
    height: 40px;
}

.likes .likes-count{
    color: #fff;
}