* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

p, span {
    font-size: 14px;
}

nav {
    width: 100%;
    height: 54px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}

nav img {
    height: 24px;
}

span.userID {
    margin-right: 5px;
}

span.sub-span {
    font-size: 12px;
    color: #8e8e8e;
}

span.point-span {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}

.head {
    min-width: 600px;
    width: 1000px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    /*height: 30px;*/
    /*width: 370px;*/
    /*display: flex;*/
    /*align-items: center;*/
}

.menu {
    width: 30%;
    min-width: 200px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-evenly;

}

.menu img {
    /*margin-left: 20px;*/
    cursor: pointer;
}

.input_search {
    width: 30%;
    min-width: 200px;
    /*height: 12px;*/
    padding: 5px 5px;

    box-sizing: content-box;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;


    background-image: url("/static/magni.png");
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;

    text-indent: 40px;
    font-size: 13px;
}

.input_search:focus {
    background-image: none;
    background-position: -10px center;
    text-indent: 0;
}

section {
    width: 960px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 40px;
}

footer p {
    margin-top: 18px;
    font-size: 11px;
    color: #c7c7c7;
    line-height: 18px;
}

.modal-ing {
    font-size: 15px;
    height: 60px;
    padding: 20px;
    border-bottom: 2px solid #EDEDED;
    text-align: center;
    cursor: pointer;
}

.modal-ing span {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.my_info {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #E3E3E3;
}

.my_info img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 3% 10% 3% 3%;
}

.info_box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.nick_name {
    width: 100%;
    height: 30%;
    padding: 3%;
    font-size: 30px;
}

.profile_btn {
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background-color: #fafafa;
    margin-left: 5%;
    font-size: 16px;

}

.user_info {
    width: 70%;
    height: 25%;
    padding: 3%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.user_name {
    width: 100%;
    height: 25%;
    padding: 3%;
    font-size: 16px;
    font-weight: bold;
}

.menu_bar {
    width: 100%;
    border-bottom: 2px solid #E3E3E3;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.menu_bar > div {
    margin: 10px 30px;
}

article {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article img {
    width: 31%;
    height: 290px;
    object-fit: cover;
    object-position: center;
}