<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title>Flask Template</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_main.css') }}">

    </head>

    <body>
        <div class="container">
            <div class="info">
                <h1>읽은 책에 대해 말씀해주세요.</h1>
            </div>
        </div>
    </body>
</html>