<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed_modal.css') }}">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/bee3d4f913.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--쿠키를 사용하기 위한 cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--파비콘-->
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/1211/PNG/128/1491580658-yumminkysocialmedia06_83104.png">

    <!-- Title -->
    <title>7Instagram</title>

</head>
<script type="text/javascript">
    $(document).ready(function () {
        showFeed();
        // 이미지 드래그 앤 드랍으로 업로드
        $('.mdbox-post')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFiles);
    
        function dragOver(e) {
            e.stopPropagation();
            e.preventDefault();
    
            if (e.type == "dragover") {
                console.log('dragover')
                $(e.target).css({
                    "background-color": "black",
                    "outline-offset": "-20px"
                });
            } else {
                console.log('dragleave')
                $(e.target).css({
                    "background-color": "white",
                    "outline-offset": "-10px"
                });
            }
        } 
        let files;
        function uploadFiles(e) {
            console.log('uploadFiles()호출')
            e.stopPropagation();
            e.preventDefault();
            e.dataTransfer = e.originalEvent.dataTransfer;
            files = e.dataTransfer.files;
    
            if (files.length > 1) {
                alert('하나만');
                return;
            }
            console.log('하나 판별 완료')
            if (files[0].type.match(/image.*/)) {
                console.log('모달 지우고 다음 모달 실행')
                $('#first_modal').css({
                    display: 'none'
                })
                $('.overlay-post').css({
                    display: 'none'
                })
    
                $('#second_modal').css({
                    display: 'flex'
                })
                $('.overlay-post2').css({
                    display: 'flex'
                })
                $('#input_image').css({
                    "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                    "outline": "none",
                    "background-size": "contain",
                    "background-repeat": "no-repeat",
                    "background-position": "center"
                });
            } else {
                alert('이미지가 아닙니다.');
                return;
            }
        }
    
        // 게시글 공유하기 버튼 클릭했을 때
        $('#write_feed_btn').on('click', () => {
            const image = $('#input_image').css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
            const content = $('#input_content').val();
            const profile_image = $('#input_profile_image').attr('src');
            const user_nick = $('#user_nickname').text();
            const file = files[0];
    
            let fd = new FormData();
    
            fd.append('file', file);
            fd.append('image', image);
            fd.append('content', content);
            fd.append('profile_image', profile_image);
            fd.append('user_nick', user_nick);
    
            if (image.length <= 0) {
                alert("이미지가 비어있습니다.");
            } else if (content.length <= 0) {
                alert("설명을 입력하세요");
            } else if (profile_image.length <= 0) {
                alert("프로필 이미지가 비어있습니다.");
            } else if (user_nick.length <= 0) {
                alert("사용자 id가 없습니다.");
            } else {
                alert('writeFeed()로 왓다')
                $.ajax({
                    url: '/api/feed/upload',
                    data: fd,
                    method: "POST",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        {#alert('게시물 작성 성공!')#}
                    },
                    error: function (request, status, error) {
                        {#alert('게시물 작성 실패!')#}
                    },
                    complete: function () {
                        {#alert('모달 창 제거 윈도우 리로드!')#}
                        location.reload();
                    }
                })
                console.log(files[0]);
            }
        });
    });

    window.onload = function () {
        function onClick() {
            document.querySelector('.modal-menu').style.display = 'block';
            document.querySelector('.overlay-menu').style.display = 'block';
            document.querySelector('.overlay-menu').style.top = window.pageYOffset + 'px';
        }

        function offClick() {
            document.querySelector('.modal-menu').style.display = 'none';
            document.querySelector('.overlay-menu').style.display = 'none';
            document.querySelector('.overlay-menu').style.top = window.pageYOffset + 'px';
        }

        document.getElementById('btn-profile').addEventListener('click', onClick);
        document.querySelector('.overlay-menu').addEventListener('click', offClick);

        function onClick_w() {
            document.querySelector('.overlay-post').style.top = window.pageYOffset + 'px';
            document.querySelector('.overlay-post2').style.top = window.pageYOffset + 'px';
            document.querySelector('#first_modal').style.display = 'flex';
            document.querySelector('.overlay-post').style.display = 'flex';
            document.querySelector('body').style.overflowY = 'hidden';
        }

        function offClick_w() {
            document.querySelector('.overlay-post').style.top = window.pageYOffset + 'px';
            document.querySelector('.overlay-post2').style.top = window.pageYOffset + 'px';
            document.querySelector('#first_modal').style.display = 'none';
            document.querySelector('.overlay-post').style.display = 'none';
            document.querySelector('body').style.overflowY = 'visible';
        }
        document.getElementById('btn-post').addEventListener('click', onClick_w);
        document.querySelector('.overlay-post').addEventListener('click', offClick_w);
    };
    // Feed 조회 - GET
    function showFeed() {
        $.ajax({
            type: "GET",
            url: "/",
            data: "",
        })
    };

    // 댓글 작성 - POST
    function reply_write(nickname, feed_num) {
        let feed_reply_content = $(".feed_reply_write_"+ feed_num).val()
        let modal_reply_content = $(".modal_feed_reply_write_"+ feed_num).val()
        let reply_content = undefined
        if(feed_reply_content === ''){
            reply_content = modal_reply_content
        }
        else{
            reply_content = feed_reply_content
        }
        console.log('===', reply_content, '===', modal_reply_content)
        // console.log('댓글 닉네임, 내용, Feed 넘버', nickname, reply_conten, feed_num)
        $.ajax({
            type: 'POST',
            url: "/api/reply/writing",
            data: {nickname: nickname, reply_content: reply_content, feed_num: feed_num},
            success: function (response) {
                {#alert(response["msg"]);#}
                window.location.reload();
            }
        })
    };

    // 좋아요/안좋아요 DB 수정 - POST
    function like_func(nickname, feed_num){
        let heart = event.target.attributes.getNamedItem('data-heart').value;
        let is_like = 0;
        if (heart == '1'){
            is_like = 1;
        } else {
            is_like = 0;
        }
        console.log('===', nickname, feed_num, heart, is_like)
        $.ajax({
            type: 'POST',
            url: '/api/like',
            data: {nickname: nickname, feed_num: feed_num, is_like: is_like}, // like가 0이면 안좋아함, 1이면 좋아함
            success: function (response) {
                {#alert(response["msg"]);#}
                window.location.reload();
            }
        })
    };

    // 좋아요/안좋아요 DB 수정 - POST
    function bookmark_func(nickname, feed_num){
        let bookmark = event.target.attributes.getNamedItem('data-bookmark').value;
        let is_bookmark = 0;
        if (bookmark == '1'){
            is_bookmark = 1;
        } else {
            is_bookmark = 0;
        }
        console.log('======', nickname, feed_num, bookmark, is_bookmark)
        $.ajax({
            type: 'POST',
            url: '/api/bookmark',
            data: {nickname: nickname, feed_num: feed_num, is_bookmark: is_bookmark}, // like가 0이면 안좋아함, 1이면 좋아함
            success: function (response) {
                {#alert(response["msg"]);#}
                window.location.reload();
            }
        })
    };

    // 팔로우/언팔로우
    function follow(reco_nickname) {
        {#alert(reco_nickname + '팔로우!')#}
        reco_nick = reco_nickname
        $.ajax({
            type: "POST",
            url: "/api/follow",
            data: {'nick_give': reco_nickname},
            success: function (response) {
                if (response['is_following'] == 1) {
                    {#alert('팔로우 완료')#}
                    let temp_html = `<a onclick="follow(reco_nick)" style="font-size:14px; font-weight:bold; text-decoration:none; color: black">팔로잉</a>`
                    $('#follow' + reco_nickname).html(temp_html)
                } else {
                    {#alert('언팔로우 완료')#}
                    let temp_html = `<a onclick="follow(reco_nick)" style="font-size:14px; font-weight:bold; text-decoration:none;">팔로우</a>`
                    $('#follow' + reco_nickname).html(temp_html)
                }
            }
        })
    }

    // 로그아웃
    function logout() {
        $.ajax({
            type: "GET",
            url: '/logout',
            data: {},
            success: function (response) {
                $.removeCookie('mytoken');
                {#alert(response['msg'])#}
                window.location.href = '/login'
            }
        })

    }

    // feed Modal Func
    function feed_modal_func(feed_num){
        console.log(feed_num, typeof(feed_num))
        document.querySelector('.modal_post_'+ feed_num).style.display = 'flex';
        document.querySelector('.modal_overlay_'+ feed_num).style.display = 'block';
        document.querySelector('.modal_overlay_'+ feed_num).style.top = window.pageYOffset + 'px';
    }

    function feed_modal_func_off(feed_num){
        console.log(feed_num, typeof(feed_num))
        document.querySelector('.modal_post_'+ feed_num).style.display = 'none';
        document.querySelector('.modal_overlay_'+ feed_num).style.display = 'none';
        document.querySelector('.modal_overlay_'+ feed_num).style.top = window.pageYOffset + 'px';
    }
</script>
<body>
    <!-- nav 모달 -->
    {% include 'nav/nav.html' %}
    <!--새 게시물 -->
    {% include 'nav/nav_modal.html' %}
    {% include 'Feed/feed_modal.html' %}
    
    <div class="article">
        
        <div class="feed_box_area">
            <!-- 여기서부터 피드박스 -->
            {% include 'Feed/feed_box.html' %}
        </div> <!-- feed_box_area -->
        
        <!-- 추천 박스 -->
        <div class="recommend_box">
            {% include 'Feed/recommend_box.html' %}
        </div>
    </div>
<!--
<footer class='footer' style='background-color:black; height:80px; display:flex; justify-content:center; align-item:center;'>
    <div class='footer-text' style='color:white; font-size:20px;'>
        Seonmin Kim Instgram Clone Coding Project
    </div>
</footer>
-->
</body>
</html>