
<!-- 마이 프로필 -->
<div class = "recommend_box_myprofile_div">
    <div class='rcbox_myprofile_div'>
        <a id="tag_a" href="{{ url_for('profile', feed_nickname = users.nickname) }}">
            <div class='rcbox_profile_div'>
                <div class="rcbox_profile_box_div">
                    <img class="rcbox_profile_img" src="/static/profile_images/{{ users.profile_img }}">
                </div>
                <div class="rcbox_nickname_name_box_div">
                    <div class="rcbox_nickname_box">{{ users.nickname }}</div>
                    <div class="rcbox_name_box">{{ users.name}}</div>
                </div>
            </div>
        </a>
    </div>            
</div>

<!-- 회원님을 위한 추천 -->
<div style="display: flex;flex-direction: row; justify-content: space-between; margin:15px 0 15px 0;">
    <div style="font-weight: bold; color: gray">
        회원님을 위한 추천
    </div>
    <div>
        <a href="#" style="font-weight: bold;color: black;text-decoration: none">모두보기</a>
    </div>
</div>

<!-- 추천 회원 출력  -->
{% if recommend == '추천 할 회원이 없습니다.' %}
    <div>추천 할 회원이 없습니다.</div>
{% else %}
    {% for reco in recommend %}
        <div style="display:flex; flex-direction:row; justify-content: space-between; align-items: center; margin:10px 0px 10px 0px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px;">
                    <img class="profile"
                        src="/static/profile_images/{{ reco.profile_img }}" style="border: 1px solid #DBDBDB;">
                </div>
                <div style="margin-left:10px; text-align:left">
                    <div id="mynick{{ reco.nickname }}"
                        style="font-weight:bold; font-size: 14px">{{ reco.nickname }}</div>
                    <div style="color:gray; font-size:14px">인기</div>
                </div>
            </div>

            <div id="follow{{ reco.nickname }}">
                <a onclick="follow('{{ reco.nickname }}')"
                style="font-size:14px; font-weight:bold; text-decoration:none; cursor: pointer;">팔로우</a>
            </div>
        </div>
    {% endfor %}
{% endif %}


<div style="margin-top: 50px;font-size: 12px;color: gray; text-align: left"> "LuckySeven" == "김선민·김민기·박재현·황신혜" <br><br>
    위 팀은 2022년 5월 3일부터 11일까지 9일동안 코드와의 싸움을 <br>
    협업을 통해 극복하여 이 프로젝트를 만들었음을 알려드립니다.
</div>
<div style="margin-top: 20px;font-size: 12px;color: gray; text-align: left"> © 2022 7INSTAGRAM FROM LuckySeven</div>