<!--nav: 로고, 검색창, 창 이동할 수 있는 픽토그램 6종-->
<div class="box-nav">
    <div class="box-logo">
        <img alt="Instagram" class="img-logo" src="static/nav-img/instagram_logo.png">
    </div>
    <div class="box-input">
        <input class="search" type="text" value="검색">
    </div>
    <div class="icons">
        <button class="btn"><img alt="Home" class="btm-img" src="static/nav-img/home.png"></button>
        <button class="btn"><img alt="Message" class="btm-img" src="static/nav-img/dm.png"></button>
        <button id="btn-post" class="btn"><img alt="Post" class="btm-img" src="static/nav-img/post.png"></button>
        <button class="btn"><img alt="Compass" class="btm-img" src="static/nav-img/compass.png"></button>
        <button class="btn"><img alt="Like" class="btm-img" src="static/nav-img/heart-w.png"></button>
        <button class="btn"><img class="img-profile" alt="profile" src="static/nav-img/sparta.png"></button>
    </div>
</div>